
h3{
    text-align: center;
    color: cadetblue;
}

canvas{
    border:5px solid #ff3d3d;
    border-radius: 10px;
    
}

body{
    background-color: rgb(111, 250, 243);
}

input[type=text]{
    width:20%;
    border: 2px solid rgb(174, 206, 101);
    border-radius: 4px;
}

input, label{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button{
    background-color: #aed424;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;  
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    background-color: #aed424;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;  
    text-decoration: none; 
}


.parent1{
    position: relative;
}

.child1{
    position: absolute;
    top: 5px;
    left: 50px;
}
#div2{
    float:left;
    width:50%;
    height:40px;
    text-align: center;
    box-sizing: border-box;
}

#div3{
    float:left;
    width:50%;
    height:40px;
    text-align: center;
    box-sizing: border-box;
}

#div4{
    float:left;
    width:50%;
    height:40px;
    text-align: center;
    box-sizing: border-box;
}

#div5{
    float:left;
    width:50%;
    height:40px;
    text-align: center;
    box-sizing: border-box;
}

#div6{
    float:left;
    width:70%;
    height:40px;
    text-align: center;
    box-sizing: border-box;
}

#div7{
    float:left;
    width:100%;
    box-sizing: border-box;
}

/* #th1{
    position: relative;
    left:17.6%;
}

#th2{
    position: relative;
    left:17.6%;
} */

